*{
     font-family: DM Sans, sans-serif;;
}
.Signupimg{
  position: relative;
  height: 100vh;
    width: 50vw;
}
.img_text{
  position: absolute; 
  bottom: 70px; 
  left: 40px; 
  color: rgba(255, 255, 255, 0.589);
  font-size: 40px; 
  font-weight: bold; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  margin: 0;
}
body{
  background-color: black;
  color: white;
}
.rightSide{
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
 
}
.container{
  display: flex;
}
.Signup_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name, .mobile, .email, .username{
  background-color: #292929;
  color: white;
  border: #292929;
  margin-top: 10px;
  height: 45px;
  width: 400px;
  padding-left: 5px;
}
input:hover{
  border: 1px solid gold;
}
.app_name{
  color: #72db73;
    font-family: Single Day, cursive;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 0%;
    
}
.Signup_btn{
  background: #72db73;
    border: #72db73;
    border-radius: 20px;
    margin-top: 5px;
    color: white;
    font-size: 18px;
    font-weight: 580;
    height: 45px;
    width: 400px;
}
.agree{
  margin: 5px;
  color: rgb(161, 159, 159);
  font-size: 13px;
  margin-right: 150px;
}
.term_cond{
  color: rgb(161, 159, 159);
  font-size: 13px;
}
.term_cond span{
color: #72db73;
font-weight: bold;
}
.Signup_title{
  font-size: 20px;
}